.yellow {
  color: #000000;
  background-color: #fff82b;
  border-radius: 9px;
}
.button {
  display: inline-flex;
  justify-content: center;
  background: #7fad39;
  color: #ffffff;
  //  height: 3.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: #557427;
  }
}
.btn {
  padding: 2rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  display: block;
  color: #000000;
}
.red {
  color: #ffffff;
  background-color: #dc403b;
  border-radius: 9px;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  @media (max-width: 479.98px) {
    padding: 2rem 5rem;
  }
  &:hover {
    color: #dc403b;
    background-color: #ffffff;
    border: 1px solid #dc403b;
  }
}
.white {
  color: #dc403b;
  background-color: #ffffff;
  border-radius: 9px;
  border: 1px solid #dc403b;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 3rem;
  @media (max-width: 479.98px) {
    padding: 2rem 3rem;
  }

  &:hover {
    color: #ffffff;
    background-color: #dc403b;
  }
}
.about-prog {
  @media (max-width: 479.98px) {
    padding: 2rem 2rem;
  }
}
