.author {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1200px;
  width: 100%;
  justify-items: center;
  padding: 3rem;
  grid-gap: 2rem;
  @media (max-width: 997.98px) {
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__list-title {
    margin-bottom: 0.5rem;
  }
  &__list-box {
    margin-bottom: 1.5rem;
  }
  &__list {
    list-style: none;
  }
  &__list::before {
    content: "\2714";
    margin-right: 1rem;
  }
  &__list-2 {
    list-style: none;
  }
  &__list-2::before {
    content: "\2022";
    margin-right: 1rem;
  }

  &__img-box {
    border-radius: 3px !important;
    box-shadow: 0 0 8px 0px #c7bb1c;
    max-width: 47rem;
    max-height: 65rem;
    img {
      width: 100%;
    }
  }
}
