.option {
  &__wrapper {
    width: 100%;
    padding: 2rem;
    background-color: #a002d9;
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__item {
    border-radius: 33px;
    background-color: #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, min-content) 1fr;
  }

  &__title {
    font-weight: 700;
    text-align: center;
    color: #02c1f5;
    font-size: 2.4rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    min-height: 80px;
    @media (max-width: 767.98px) {
      min-height: unset;
    }
  }

  &__text-fat {
    font-weight: 700;
    text-align: center;
    font-size: 2.4rem;
  }

  &__price-old {
    text-align: center;
    font-size: 2.4rem;
    text-decoration: line-through;
    color: #999;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__list-box {
    margin-bottom: 3rem;
  }
}
.button__box-options {
  align-self: end;
}
.author {
  &__list.option-item {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
}
