.paris-2 {
  background: url("./../../img/main/paris2.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 7rem 7rem;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  @media (max-width: 479.98px) {
    min-height: 30vh;
    padding: 2rem;
  }
}
.paris {
  background: url("./../../img/main/paris.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 12rem 7rem;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  width: 100%;
  @media (max-width: 479.98px) {
    min-height: 30vh;
    padding: 2rem;
  }
  &__filter {
    background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 100%),
      rgba(0, 0, 0, 50%),
      rgba(0, 0, 0, 20%)
    );
    background-image: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 40%),
      rgba(0, 0, 0, 10%)
    );
    background-image: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 40%),
      rgba(0, 0, 0, 10%)
    );
    background-image: linear-gradient(
      top,
      rgba(0, 0, 0, 40%),
      rgba(0, 0, 0, 10%)
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.4;
  }
  &__box {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 3rem;
    color: #fff;
    max-width: 60rem;
  }

  &__title {
    font-weight: 600;
    font-size: 3.6rem;
    color: #fff;
    margin-bottom: 3rem;
    @media (max-width: 479.98px) {
      max-width: 250px;
    }
  }
}
